/* Estilos generales */
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08b58c;
    color: #333;
}

header {
    background-color: #15df58;
    color: white;
    padding: 10px 0;
    text-align: center;
}


h1 {
    margin: 1;
}
h5 {
    margin: 0;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/* Estilos para enlaces */
a {
    color: #4CAF50;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #4CAF50;
    color: white;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
    .contact-links {
        flex-direction: column;
    }

    a {
        display: block;
        margin-bottom: 10px;
    }
}
ol li {
    margin-bottom: 35px; 
}

ol {
    padding-left: 30px; 
}

